.h1{
text-align: left;
width: 100%; 
margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.bodystyle {
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  flex: 0 0 calc(30% - 10px);
  margin: 0 10px 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  position: relative;
  height: 0; 
  padding-bottom: 25%; 
}

.product-details {
  margin: 7px 0;
  font-size: 20px; 
}

.delete-checkbox {
  margin-right: 5px;
}

#delete-product-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#delete-product-btn:hover {
  background-color: #cc0000;
}

.add-button {
  position: fixed;
  top: 10px;
  right: 120px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #45a049;
}

